@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

.img-responsive
	display: block
	max-width: 100%
	height: auto

ul li
	list-style-type: none
	margin: 0px
	padding: 0px

.top-section .logo
	width: 100px
	opacity: 1
	padding-top: 5px

.top-section .logo:hover
	opacity: 0.95

.top-section nav ul , .top-section .translate
	padding: 20px 0px

.top-section nav ul li
	display: inline
	margin-right: 26px

.top-section nav ul li a
	color: rgba(0, 120, 61, 0.65)
	text-decoration: none

.top-section nav ul li a:focus
	color: #00783d

.top-section nav ul li a:hover
	border-bottom: 1px solid #fded1f
	padding-bottom: 10px

.top-section .translate li
	display: inline
	margin-right: 5px

.top-section .phone
	padding-top: 30px
	border-bottom: 1px dotted gray
	width: 145px
	opacity: 0.5
	padding-left: 0px
	padding-right: 0px

.top-section .phone:hover
	opacity: 1

.bg-section1
	background: url("/img/bg-header.jpg") no-repeat
	height: 450px
	background-size: 100%

@import "media" // Всегда в конце
